<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1>Edit Flight:</h1>
<form action="/flights/<%= flight._id %>?_method=PUT" method="POST" autocomplete="off">
  <input value="<%= flight.airline %>" type="text" name="airline">
  <select name="mpaaRating" id="mpaa-rating-select">
    <option value="<%= flight.airport %> "><%= flight.airport %> </option>
      <option value="Den">DEN</option>
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
  </select>
  <input value="<%= flight.flightNo %>" type="text" name="flightNo">
  <input value="<%= flight.departs %>" type="text" name="departs">
  <button type="submit">Update To-Do</button>
</form>
<%- include('../partials/footer') %>