<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>
<h1><%= title %> </h1>
<a href="/flights/<%= flight._id %>/edit">Edit Flight Details</a>
  <p>Airline: <%= flight.airline %> </p>
  <p>Flight Number: <%= flight.flightNo %> </p>
  <p>Airport: <%= flight.airport %> </p>
  <p>Depart: <%= flight.departs %> </p>
<form action="/flights/<%= flight._id %>/meals" method="POST">
  <select name="mealId">
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
    <% }) %>
  </select>
  <button type="submit">Add meal to flight</button>
</form>


<div id="ticket">
  <h4>Meals:</h4>
  <% flight.meals.forEach(function(meal) { %>
    <p>-------------</p>
    <p>Meal: <%= meal.name %></p>
    <% }) %> 
  </div>
  
  <h4>Tickets:</h4>
  <form 
  id="add-seat-form"
  action="/flights/<%= flight._id %>/tickets"
  method="POST"
  >
  <label for="content-textarea">Seats:</label>
  <textarea name="seat" id="content-textarea"></textarea>
  <label for="content2-textarea">Price:</label>
  <textarea name="price" id="content2-textarea"></textarea>
  <button type="submit">Add Seat</button>
</form>
<h4>Tickets:</h4>
<% flight.tickets.forEach(function(ticket) { %>
  <h5>
    <p>-------------</p>
    <p>Seat: <%= ticket.seat %></p>
    <p>Price: <%= ticket.price %></p>
    <% }) %> </h5>
    <%- include('../partials/footer') %>