<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<h1><%= title %> </h1>
  <p>Airline: <%= flight.airline %> </p>
  <p>Flight Number: <%= flight.flightNo %> </p>
  <p>Airport: <%= flight.airport %> </p>
  <p>Depart: <%= flight.departs %> </p>
<%- include('../partials/footer') %>